@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    background-color: rgb(35, 35, 37);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}	
	
p, h3, h4, table{
    margin-left: 40px;
    margin-right: 40px;
}

ol{
    margin-left: 40%;
}

.ol2{
    margin-left: 43%;
}

ol li{
    padding: 13px;
    font-size: 120%;
}

ol li a{
    text-decoration: none;
    color: black;
}

.link{
    margin-left: 40px;
    text-decoration: none;
    color: black;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}

.BM{
    width: 35%;
    height: 35%;
}

.mobil{
    width: 25%;
    height: 25%;
}

h2{
    text-align: center;
    border: 1px solid black;
    padding: 7px;
    color: rgb(136, 216, 236);
    background-color: rgb(80, 80, 85);

}

.kapcs{
	text-align: center; 
}

main{
    margin: 0 auto;
    width: 97%;
    padding-top: 60px; 
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
    font-size: 102%;
}

header, footer{
    display: block;
    border: 1px solid black;
}

.KontHeader{
    margin: 0 auto;
    width: 93%;
}

header {
    position: static;
    top: 0;
    left: 0;
    bottom: 92%;
    width: 100%;
    background: rgb(20, 80, 103)
}

header .KontHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header a {
    color: white;
    text-decoration: none;
}

header .logoh {
    font-weight: 700;
    margin-top: 10px;
    font-size: 160%;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style-position: inside;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a.active {
    font-weight: bold;
}

footer {
    position: static;
    width: 100%;
    background: rgb(20, 80, 103)
}

footer .KontFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.KontFooter{
    margin: 0 auto;
    width: 93%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .logof {
    font-weight: 300;
    margin-top: 13px;
    font-size: 110%;
}

footer nav {
    margin-left: auto;
}

footer nav ul {
    list-style-position: inside;
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}

footer nav ul li a.active {
    font-weight: bold;
}