@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    background-color: rgb(35, 35, 37);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}	
	
p, h3, h4, table{
    margin-left: 30px;
}


h1, h2{
    text-align: center;

}

.kapcs{
	text-align: center; 
}

main{
    margin: 0 auto;
    width: 95%;
    padding-top: 60px; 
    padding-right: 30px;
    background-color: rgb(226, 226, 226);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

header, footer{
    display: block;
    border: 1px solid black;
}

.KontHeader{
    margin: 0 auto;
    width: 93%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 92%;
    width: 100%;
    background: rgb(20, 80, 103)
}

header .KontHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header a {
    color: white;
    text-decoration: none;
}

header .logoh {
    font-weight: 700;
    margin-top: 10px;
    font-size: 160%;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style-position: inside;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a.active {
    font-weight: bold;
}

footer {
    position: static;
    width: 100%;
    background: rgb(20, 80, 103)
}

footer .KontFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.KontFooter{
    margin: 0 auto;
    width: 93%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .logof {
    font-weight: 300;
    margin-top: 13px;
    font-size: 110%;
}

footer nav {
    margin-left: auto;
}

footer nav ul {
    list-style-position: inside;
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}

footer nav ul li a.active {
    font-weight: bold;
}