@import url('https://fonts.googleapis.com/css?family=Roboto');

header, footer{
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}	
	
p, h3, h4, table{
	margin-left: 30px;
}

.kapcs{
	text-align: center; 
}

main{
    margin: 0 auto;
    width: 92%;
    padding-top: 50px;
}

.konténer{
    margin: 0 auto;
    width: 90%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 92%;
    width: 100%;
    background: #647cf9;
}

header .konténer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header a {
    color: white;
    text-decoration: none;
}

header .logo {
    font-weight: 700;
    margin-top: 10px;
    font-size: 160%;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style-position: inside;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a.active {
    font-weight: bold;
}