<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="style.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="jumbotron text-center">Tanulás segítő app</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
          <h3>Felhasználónév:</h3>
          <input ng-model="username" name="username" type="text" />
          <h3>Jelszó:</h3>
          <input
            ng-model="password"
            name="password"
            type="password"
          /><br /><br />
          <div ng-app="bejelentkezesapp" ng-controller="bejelentkezoController">
            <button
              class="btn btn-primary btn-md"
              name="ellenoriz"
              ng-click=""
              title="Bejelentkezés"
            >
              Bejelentkezés
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h3>Nincs még fiókod?</h3>
          <button class="btn btn-primary btn-md" type="button">
            Regisztráció
          </button>
        </div>
      </div>
    </div>
  </body>
  <script>
    var app = angular.module("bejelentkezesapp", []);
    app.controller("bejelentkezoController", function($scope) {
      let nev = $scope.username;
      let jelszo = $scope.password;
      if (nev == "mate" && jelszo == "mate") {
        alert("Sikeres");
      }
    });
  </script>
</html>
